$white-color:#ffffff;
$color-primary-accents: #1ab798;
$color-secondary-accents: #31d4e7;
$main-font-color: #282528;
$secondary-font-color: #7e7c7e;
$footer-form-color: #bface2;
$header-list-color: #949394;


$main-font-stack: "OpenSans", Arial, sans-serif;
$secondary-font-stack: "Raleway", Arial, sans-serif;
$decor-font-text: "Be Vietnam", Arial, sans-serif;

$main-font-size: 16px;
$main-font-height: 26px;
$title-font-size: 28px;
$descr-font-size: 18px;