.customers__content {
  text-align: center;
  padding-bottom: 60px;
}

.customers__title {
  width: 160px;
  margin: 0 auto;

}

.section__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 36px;
  color: $color-primary-accents;
  font-family: $secondary-font-stack;
  font-weight: 700;
  text-align: center;
}


.customers__image {
  margin: 0 auto;
  padding-top: 50px;
}

.customers__name {
  font-family: $main-font-stack;
  font-size: $descr-font-size;
  line-height: 24px;
  text-transform: capitalize;
  color: $primary-customers-color;
  margin: 0 auto;
  padding-top: 30px;
}

.customer__occupation {
  margin-bottom: 30px;
  font-family: $main-font-stack;
  font-size: $customers-font-size;
  line-height: 18px;
  text-transform: capitalize;
  color: $customers-color;
  margin: 0;
}

// /ds
.wrapper {
  margin: 0 auto;
  position: relative;
}

.slider__list {
  height: 230px;
  overflow: hidden;
  position: relative;
  width: 100%;
}


.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: scale(0);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  
}

#slide1:checked ~ .slider__list > .slide1,
#slide2:checked ~ .slider__list > .slide2,
#slide3:checked ~ .slider__list > .slide3,
#slide4:checked ~ .slider__list > .slide4,
#slide5:checked ~ .slider__list > .slide5 {
opacity: 1;
z-index: 1;;
transform: scale(1);
}

.wrapper  input {
display: none;
}

.controls {
  padding-top: 30px;
}

.wrapper .controls {
left: 50%;
transform: translateX(-50%);
position: absolute;
display: flex;
justify-content: space-between;
}

.wrapper .controls label {
  display: inline-block;
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  transition: background ease-in-out .5s;
  margin-left: 10px;
  margin-right: 10px;
  background-color: $secondary-customers-color;
  cursor: pointer;
}

.wrapper .controls label:hover {
  background-color: $color-primary-accents;
}

.slide__text-box {
  padding-top: 26px;
  width: 225px;
  text-align: center;
  margin: 0 auto;
  font-size: $descr-font-size;
  line-height: 36px;
  font-family: $main-font-stack;

  color: $main-font-color;
}

.slider__list::before {
  display: block;
    content: '';
    position: absolute;
    width: 50px;
    height: 40px;
    background-image: url(../images/marks.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(0, 30%);
    z-index: -1;
}



@media (-webkit-min-device-pixel-ratio:2), (min-width: 1200px) {
  .slider__list::before {
    background-image: url(../images/marks@2x.png);
  }
}

@media (min-width: 1200px) {
  .customers__content {
    padding-bottom: 130px;
  }

  .customers__title {
    width: fit-content;
  }

  .customers__image {
    padding-top: 65px;
  }
  
  .controls {
    padding-top: 0;
  }

  .slider__list::before {
    transform: translate(70%, 40%);
  }

  .slide__text-box {
    width: 936px;
  }

  .slider__list {
    overflow: visible;
  }

}