.customers__content {
  text-align: center;
  padding-bottom: 60px;
}

.customers__title {
  width: 160px;
  margin: 0 auto;

}

.section__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 36px;
  color: $color-primary-accents;
  font-family: $secondary-font-stack;
  font-weight: 700;
  text-align: center;
}


.customers__image {
  margin: 0 auto;
  padding-top: 50px;
}

.customers__name {
  font-family: $main-font-stack;
  font-size: $descr-font-size;
  line-height: 24px;
  text-transform: capitalize;
  color: $primary-customers-color;
  margin: 0 auto;
  padding-top: 30px;
}

.customer__occupation {
  margin-bottom: 30px;
  font-family: $main-font-stack;
  font-size: $customers-font-size;
  line-height: 18px;
  text-transform: capitalize;
  color: $customers-color;
  margin: 0;
}

.customer__about {
  font-size: $descr-font-size;
  font-family: $main-font-stack;
  color: $main-font-color;
  line-height: 36px;
  text-align: center;
  margin-bottom: 25px;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
  padding-bottom: 25px;
}

.customer__about::before {
  display: block;
  content: '';
  position: absolute;
  width: 50px;
  height: 40px;
  background-image: url(../images/marks.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0, -50%);
  z-index: -1;
}

.slider {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}


.slider__dots {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid $secondary-customers-color;
  border-radius: 50%;
  background-color: $secondary-customers-color;
  cursor: pointer;
}

.slider__dots:not(:last-child) {
  margin-right: 7px;
}

.slider__dots:hover {
  background-color: $color-primary-accents;
}

@media (-webkit-min-device-pixel-ratio:2), (min-width: 1200px) {
  .customer__about::before {
    background-image: url(../images/marks@2x.png);
    transform: translate(-100%, -30%);
  }
}

@media (min-width: 1200px) {
  .customers__content {
    padding-bottom: 130px;
  }

  .customers__title {
    width: fit-content;
  }

  .customers__image {
    padding-top: 65px;
  }

  .customer__about {
    padding-top: 110px;
    padding-bottom: 55px;
  }
}