.customers-content {
  margin: auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers-title {
  width: 180px;
  margin: 0 auto;
  position: relative;
}

.section__heading {
  font-size: $title-font-size;
  font-family: $secondary-font-stack;
  color: $color-primary-accents;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
}

.customers-title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -75px;
  background-color: #535b64;
  opacity: 0.4;
  width: 60px;
  height: 2px;
}

.customers-title:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -75px;
  background-color: #535b64;
  opacity: 0.4;
  width: 60px;
  height: 2px;
}

.customers-image {
  margin: 0 auto;
  padding-top: 50px;
}

.customers-name {
  font-family: $main-font-stack;
  font-size: $descr-font-size;
  line-height: 24px;
  text-transform: capitalize;
  color: $primary-customers-color;
  margin: 0 auto;
  padding-top: 30px;
}

.customer-occupation {
  margin-bottom: 30px;
  font-family: $main-font-stack;
  font-size: $customers-font-size;
  line-height: 18px;
  text-transform: capitalize;
  color: #646464;
  margin: 0;
}

.customer-about {
  font-size: $descr-font-size;
  font-family: $main-font-stack;
  color: $main-font-color;
  line-height: 36px;
  text-align: center;
  margin-bottom: 25px;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
  padding-bottom: 25px;
}

.customer-about::before {
  display: block;
  content: '';
  position: absolute;
  width: 50px;
  height: 40px;
  background-image: url(../images/marks.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0, -50%);
  z-index: -1;

}

.slider {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}


.slider-dots {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid $secondary-customers-color;
  border-radius: 50%;
  background-color: $secondary-customers-color;
  opacity: 0.5;
}

.slider-dots:not(:last-child) {
  margin-right: 7px;
}

.slider-dots:hover {
  opacity: 1;
}

@media (-webkit-min-device-pixel-ratio:2), (min-width: 1200px) {
  .container {
    width: 1145px;
  }

  .customers-content {
    padding-top: 140px;
    padding-bottom: 130px;
  }

  .customers-title {
    width: fit-content;
  }

  .customers-image {
    padding-top: 65px;
  }

  .customer-about {
    padding-top: 110px;
    padding-bottom: 55px;
  }

  .customer-about::before {
    background-image: url(../images/marks@2x.png);
    transform: translate(-50%, -50%);
  }
}