.section__features{
  padding-top: 50px;
  padding-bottom: 56px;
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.list-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.list__img {
  display: none;
}

@media (min-width: 768px) {
  .list-wrap {
    margin-bottom: 20px;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .list__img {
    display: inline-block;
  }

  .list-wrap {
    margin-top: 40px;
  }
}